/* Inter Thin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/inter/Inter-Thin.woff') format('woff');
    font-display: swap;
}

/* Inter ExtraLight */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/inter/Inter-ExtraLight.woff') format('woff');
    font-display: swap;
}

/* Inter Light */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/inter/Inter-Light.woff') format('woff');
    font-display: swap;
}

/* Inter Regular */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inter/Inter-Regular.woff') format('woff');
    font-display: swap;
}

/* Inter Medium */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/inter/Inter-Medium.woff') format('woff');
    font-display: swap;
}

/* Inter SemiBold */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/inter/Inter-SemiBold.woff') format('woff');
    font-display: swap;
}

/* Inter Bold */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/inter/Inter-Bold.woff') format('woff');
    font-display: swap;
}

/* Inter ExtraBold */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/inter/Inter-ExtraBold.woff') format('woff');
    font-display: swap;
}

/* Inter Black */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/inter/Inter-Black.woff') format('woff');
    font-display: swap;
}