---
import config from "@config";
import Resume from "@components/Resume.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title={`Résumé | ${config.title}`}>
  <main
    id="main-content"
    class="mx-auto my-5 w-[calc(100%-3rem)] max-w-260 pt-10 md:border md:shadow md:dark:border-slate-400 md:dark:shadow-slate-400"
  >
    <Resume />

    <div class="flex justify-center">
      <a href="/assets/resume.pdf" class="button"> Download </a>
    </div>
  </main>
</MainLayout>
