---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";

import Resume from "@components/Resume.astro";
---

<Layout title={`Résumé | ${SITE.title}`}>
  <Header activeNav="resume" />

  <main id="main-content">
    <Resume />

    <div class="flex justify-center">
      <a href="/assets/resume.pdf" class="button"> Download </a>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto pt-10 my-5 w-[calc(100%-3rem)] max-w-[65rem] md:border md:dark:border-slate-400 md:shadow md:dark:shadow-slate-400;
  }
</style>
