---
/**
 * Resume page with download button.
 */

import Resume from "@components/Resume.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout activeNav="resume" title="Résumé" hideTitle={true}>
  <main
    id="main-content"
    class="pt-10 md:border md:shadow lg:-ml-[20%] lg:w-[140%] md:dark:border-slate-400 md:dark:shadow-slate-400"
  >
    <Resume />

    <div class="flex justify-center">
      <a href="/assets/resume.pdf" class="button"> Download </a>
    </div>
  </main>
</MainLayout>
