---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import LinkButton from "@components/LinkButton.astro";
import Terminal from "@components/Terminal.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main id="main-content">
    <section class="w-full">
      <Terminal command="cat /404"
        >cat: /404: No such file or directory</Terminal
      >
    </section>

    <div class="text-center">
      <LinkButton
        href="/"
        className="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        Go back home
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto pt-10 w-full;
  }
</style>
