---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Terminal from "@components/Terminal.astro";
import config from "@config";
import Layout from "@layouts/Layout.astro";
---

<Layout title={`404 Not Found | ${config.title}`}>
  <Header />

  <main id="main-content" class="mx-auto w-full pt-10">
    <section class="w-full">
      <Terminal command="cat /404"
        >cat: /404: No such file or directory</Terminal
      >
    </section>

    <div class="text-center">
      <a
        href="/"
        class="group my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        Go back home
      </a>
    </div>
  </main>

  <Footer />
</Layout>
