---
/**
 * Homepage displaying categorized blog posts (featured, tech, and random).
 */

import PostsList from "@components/PostsList.astro";
import Hr from "@components/Hr.astro";
import Terminal from "@components/Terminal.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { getCollection } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";
import type { AnyCollectionEntry } from "@utils/contentConfig";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);

const categorizedPosts = {
  featured: [] as AnyCollectionEntry[],
  tech: [] as AnyCollectionEntry[],
  random: [] as AnyCollectionEntry[],
};

sortedPosts.forEach((post) => {
  if (post.data.featured) {
    categorizedPosts.featured.push(post);
  } else if (post.data.tags.includes("random")) {
    categorizedPosts.random.push(post);
  } else {
    categorizedPosts.tech.push(post);
  }
});
---

<MainLayout activeNav="home">
  <section id="hero" class="p-10">
    <Terminal command="whoami">
      Hey I'm Cyprien 👋 <br />
      I'm a software engineer living in Montpellier, France 🇫🇷
      <br />
      Welcome to my corner of the web, where I mostly post about technical topics.
    </Terminal>
  </section>

  <Hr />

  <PostsList posts={categorizedPosts.featured} title="Featured posts" />
  <PostsList posts={categorizedPosts.tech} title="Tech posts" />
  <PostsList posts={categorizedPosts.random} title="Random posts" />
</MainLayout>
