---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Hr from "@components/Hr.astro";
import LinkButton from "@components/LinkButton.astro";
import Terminal from "@components/Terminal.astro";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header activeNav="home" />
  <main id="main-content">
    <section id="hero">
      <Terminal command="whoami">
        Hey I'm Cyprien 👋 <br />
        I'm a software engineer living in Montpellier, France 🇫🇷
        <br />
        Here is my corner of the web where I post mostly on technical matters.
      </Terminal>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h1>Featured</h1>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card href={`/posts/${slug}/`} frontmatter={data} />
              ))}
            </ul>
          </section>
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h1>Posts</h1>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card href={`/posts/${slug}/`} frontmatter={data} />
                ),
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply p-10;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-6;
  }
  #featured h1,
  #recent-posts h1 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
