---
/**
 * Homepage displaying last posts
 */

import Hr from "@components/Hr.astro";
import Terminal from "@components/Terminal.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { getCollection } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";
import PostLink from "@components/PostLink.astro";

const posts = getSortedPosts(await getCollection("blog"));
---

<MainLayout activeNav="home">
  <section id="hero" class="mb-6 p-10">
    <Terminal command="whoami">
      Hey I'm Cyprien 👋 <br />
      I'm a software engineer living in Montpellier, France 🇫🇷
      <br />
      Welcome to my corner of the web, where I mostly post about technical topics.
    </Terminal>
  </section>

  <Hr />

  {
    posts.length > 0 && (
      <section id="recent-posts" class="my-10">
        <ul>
          {posts.map(
            ({ data, slug }, index) =>
              index < 10 && (
                <PostLink href={`/posts/${slug}/`} frontmatter={data} />
              ),
          )}
        </ul>
      </section>
    )
  }
</MainLayout>
