---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
---

<Layout title={`Now | ${SITE.title}`}>
  <Header activeNav="now" />
  <Main pageTitle="Now" pageDesc="">
    <p class="mb-10">
      Based on the brillant idea of <a href="https://nownownow.com/"
        >nownownow.com</a
      >, here is what I'm doing now.
    </p>

    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time
          class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >February 2022</time
        >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          TEST
        </h3>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
          CONTENT
        </p>
      </li>
    </ol>
  </Main>
  <Footer />
</Layout>
