---
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");
const breadcrumbList = currentUrlPath.split("/").slice(1);

if (breadcrumbList[0] === "posts") {
  breadcrumbList.splice(0, 2, `Posts (page ${breadcrumbList[1] || 1})`);
}

if (breadcrumbList[0] === "tags" && !isNaN(Number(breadcrumbList[2]))) {
  breadcrumbList.splice(
    1,
    3,
    `${breadcrumbList[1]} ${
      Number(breadcrumbList[2]) === 1 ? "" : "(page " + breadcrumbList[2] + ")"
    }`,
  );
}
---

<nav class="mx-auto mt-8 mb-1 w-full max-w-3xl px-4" aria-label="breadcrumb">
  <ul>
    <li style="display: inline;">
      <a href="/" class="capitalize opacity-70 hover:opacity-100">Home</a>
      <span aria-hidden="true" class="opacity-70">&raquo;</span>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li style="display: inline;">
            <span
              class={`${index > 0 ? "lowercase" : "capitalize"} opacity-70`}
              aria-current="page"
            >
              {decodeURIComponent(breadcrumb)}
            </span>
          </li>
        ) : (
          <li style="display: inline;">
            <a
              href={`/${breadcrumb}/`}
              class="capitalize opacity-70 hover:opacity-100"
            >
              {breadcrumb}
            </a>
            <span aria-hidden="true" class="opacity-70">
              &raquo;
            </span>
          </li>
        ),
      )
    }
  </ul>
</nav>
