---
/**
 * Component to display a list of posts with a title.
 */

import PostLink from "@components/PostLink.astro";
import type { AnyCollectionEntry } from "@utils/contentConfig";

const posts = Astro.props.posts as AnyCollectionEntry[];
const title = Astro.props.title as string;
---

{
  posts.length > 0 && (
    <section id="recent-posts" class="pt-6">
      <h1 class="text-2xl font-semibold tracking-wide">{title}</h1>
      <ul>
        {posts.map(
          ({ data, slug }, index) =>
            index < 10 && (
              <PostLink href={`/posts/${slug}/`} frontmatter={data} />
            ),
        )}
      </ul>
    </section>
  )
}
