---
/**
 * Component to display social sharing links for a post.
 */

import config from "../config";

// Share current url
const url = Astro.url.toString();

interface Props {
  title: string; // Title of the post to share
}
const { title } = Astro.props;
---

<div
  class="flex flex-col flex-wrap items-center justify-center gap-1 sm:items-start"
>
  <span class="italic">Share this post on:</span>
  <div class="text-center">
    {
      config.sharingSocials.map((social) => (
        <a
          href={social.href
            .replace("{{url}}", encodeURIComponent(url))
            .replace("{{title}}", encodeURIComponent(title))}
          class="group scale-90 p-2 no-underline hover:rotate-6 sm:p-1"
        >
          <Fragment set:html={social.icon} />
        </a>
      ))
    }
  </div>
</div>
