---
import config from "../config";
import LinkButton from "./LinkButton.astro";

// Share current url
const url = Astro.url.toString();

// Title for sharing purposes
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div
  class="flex flex-col flex-wrap items-center justify-center gap-1 sm:items-start"
>
  <span class="italic">Share this post on:</span>
  <div class="text-center">
    {
      config.sharingSocials.map((social) => (
        <LinkButton
          href={social.href
            .replace("{{url}}", encodeURIComponent(url))
            .replace("{{title}}", encodeURIComponent(title))}
          className="scale-90 p-2 hover:rotate-6 sm:p-1"
        >
          <Fragment set:html={social.icon} />
        </LinkButton>
      ))
    }
  </div>
</div>
