---
export interface Props {
  command: string;
}

const { command } = Astro.props;
---

<div class="w-full box-border h-[25px] bg-[#bbb] mx-auto rounded-t-[5px]">
  <div
    class="h-[10px] w-[10px] rounded-full border border-solid relative left-[6px] bg-[#ff3b47] border-[#9d252b] inline-block"
  >
  </div>
  <div
    class="h-[10px] w-[10px] rounded-full border border-solid relative left-[11px] bg-[#ffc100] border-[#9d802c] inline-block"
  >
  </div>
  <div
    class="h-[10px] w-[10px] rounded-full border border-solid relative left-[16px] bg-[#00d742] border-[#049931] inline-block"
  >
  </div>
</div>
<div
  class="bg-[#151515] box-border w-full mx-auto p-[20px] rounded-b-[5px] cursor-text"
>
  <p class="text-left text-base font-mono whitespace-normal text-[#9cd9f0]">
    $ {command}
  </p>
  <p class="text-left text-base font-mono whitespace-normal text-[#cdee69]">
    <slot />
  </p>
  <p class="text-left text-base font-mono whitespace-normal text-[#9cd9f0]">
    $ <span class="text-white font-bold animate-[blink_1s_0s_infinite_forwards]"
      >_</span>
  </p>
</div>

<style>
  @keyframes blink {
    0%,
    40%,
    100% {
      opacity: 0;
    }
    50%,
    90% {
      opacity: 1;
    }
  }
</style>
