---
export interface Props {
  command: string;
}

const { command } = Astro.props;
---

<div class="mx-auto box-border h-[25px] w-full rounded-t-[5px] bg-[#bbb]">
  <div
    class="relative left-[6px] inline-block h-[10px] w-[10px] rounded-full border border-solid border-[#9d252b] bg-[#ff3b47]"
  >
  </div>
  <div
    class="relative left-[11px] inline-block h-[10px] w-[10px] rounded-full border border-solid border-[#9d802c] bg-[#ffc100]"
  >
  </div>
  <div
    class="relative left-[16px] inline-block h-[10px] w-[10px] rounded-full border border-solid border-[#049931] bg-[#00d742]"
  >
  </div>
</div>
<div
  class="mx-auto box-border w-full cursor-text rounded-b-[5px] bg-[#151515] p-[20px]"
>
  <p class="text-left font-mono text-base whitespace-normal text-[#9cd9f0]">
    $ {command}
  </p>
  <p class="text-left font-mono text-base whitespace-normal text-[#cdee69]">
    <slot />
  </p>
  <p class="text-left font-mono text-base whitespace-normal text-[#9cd9f0]">
    $ <span class="animate-[blink_1s_0s_infinite_forwards] font-bold text-white"
      >_</span
    >
  </p>
</div>

<style>
  @keyframes blink {
    0%,
    40%,
    100% {
      opacity: 0;
    }
    50%,
    90% {
      opacity: 1;
    }
  }
</style>
